<!-- upload.html -->
{% extends 'sidebar.html' %}

{% block title %}Upload Data Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 upload-box">
            <h2>Upload Data</h2>
            <form id="uploadForm" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Choose a file:</label>
                    <input type="file" name="file" id="file" class="form-control-file" onchange="submitForm()">
                </div>
            </form>
        </div>
    </div>

    {% if df_info %}
    <div class="row justify-content-center">
        <div class="col-md-8 result-box">
            <h3>Data Frame Information:</h3>
            <p>Shape: {{ df_info['shape'] }}</p>
            <p>Size: {{ df_info['size'] }}</p>
            <h4>Description:</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th</th>
                        {% for col_stat in ['Column','count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'] %}
                            <th>{{ col_stat }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody >
                    {% for col_name, col_values in df_info['description'].items() %}
                        <tr>
                            <td>{{ col_name }}</td>
                            {% for col_value in col_values.values() %}
                                <td>{{ col_value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="varun">
            <h4>Info:</h4>
            <pre>{{ df_info['info'] }}</pre>
            <h4>Number of Duplicate Rows</h4>
            <pre>{{ df_info['num_duplicates']}}</pre>
            <h4>Number of Missing values</h4>
            <pre>{{ df_info['num_missing_values']}}</pre>
        </div>
            <a href="{{ url_for('data_cleaning') }}" class="btn btn-primary">Next</a>

        </div>
    </div>
    {% endif %}
</div>



<script>
    function submitForm() {
        document.getElementById('uploadForm').submit();
    }
</script>

{% endblock %}
